@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

body{
  text-align: center;
  overflow: hidden;
  font-family: 'Coming Soon', cursive;
}

.mainHeader{
  margin-top: 45px;
  font-size:41px;
}

h3{
  font-size: 26px;
  padding-inline:15px;

  @media (max-width:480px) {
    font-size:22px;
  }
}

.buttons{
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top:55px;

  a{
    cursor: pointer;
    width:400px;
    height:60px;
    margin:auto;
    margin-block:15px;
    border-radius: 15px;
    padding-top: 5px;
    border:none;
    font-size:41px;
    font-weight: 900;
    background:chocolate;
    text-decoration: none;
    font-family: 'Rakkas', cursive;
    color: #000;

    @media (max-width:480px) {
      width:240px;
      font-size: 32px;
    }

    &:hover{
      background: darkcyan;
      transition: 1s;
      color:rgb(172, 172, 172)
    }
  }
}

.loadingDiv{
  width:100vw;
  width:100vh;
  position: absolute;
  font-size:54px;
  top:25%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.fa-cog{
  animation: roll 1.4s infinite;
}

@keyframes roll {
  20%{
    transform: rotate(0deg);
  }
  40%{
    transform: rotate(90deg);
  }
  60%{
    transform: rotate(180deg);
  }
  80%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

@import 'variables';
@import 'scaffolding';
@import './inGameView.scss';
